<?xml version="1.0"?>

<model>
  <name>Racing gates</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Parakh M. Gupta</name>
    <email>guptapar@fel.cvut.cz</email>
  </author>
  

  <description>
    A model of a racing gate for the drone racing simulation.
  </description>
</model>
